body{
  background-image : linear-gradient(195deg,#111111 70%,#ff3434 30%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container{
  display:flex;
  justify-content: center;
}
.todolist{
  width:24rem;
  font-family: 'Cabin', sans-serif;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top:2rem;
  padding: 2rem;
}
.todolist h2{
  width:100%;
  text-align: center;
  margin:0;
  padding:1rem 0rem;
  background-color: #dd3434;
  border-radius: 4px;
  margin-bottom : 1rem;
}
.todolist .list{
  width:100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  list-style:none;
  list-style-type: none;
}
.todolist .list .list-item{
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  color: #dd3434;
  border-bottom: 1px solid rgba(255,52,52,0.1);
  padding: 1rem 0rem;
  font-size: 1.2rem;
}
.todolist .list .list-item  input[type=checkbox]{
  margin:0rem 1rem;
}
.todolist .list .list-item input:checked+span{
  text-decoration: line-through;
}
.add-new{
  width:100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  align-items: center;
}
.add-new input{
  width:100%;
  padding:1rem;
  background-color: transparent;
  border: none;
  color:#dd3434;
  font-size: 1rem;
}
.add-new ::placeholder{
  color: rgba(255,52,52,0.2);
}
/* .add-new input:active{
  border: 1px solid rgba(255,52,52,0.1);
  background-color: rgba(255,52,52,0.1);
} */
.add-new button{
  border:none;
  padding:none;
  background: transparent;
  margin: 0rem 1rem;
}
.add-new button svg{
  display: inline;
  height: 1rem;
}
.delete-item button{
  margin: 0rem 1rem;
  align-self: center;
  color: #dd3434;
  border: none;
  background-color: transparent;
}
.delete-item button svg{
  display: inline;
  height: 0.5rem;
}
